.grid {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  margin: 20px;
  border-style: solid;
}

.body-title {
  align-content: center;
}

.body-title h2 {
  color: blue;
}

.footer-container {
  display: flex;
  flex-direction: row;
}

.footer-container button {
  background-color: green;
  color: yellow;
  border-radius: 9px 9px 9px 9px;
  font-weight: bold;
}
